.text-dark {
    color: rgb(52, 58, 64) !important;
}


.page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before {

    content: "\e606";
    font-family: 'simple-line-icons';
    font-size: 10px;
    transform: rotate(180deg);
    margin: 0px -10px 0px 5px;
}

.header-left .header-profile .dropdown-menu {
    padding: 15px 0;
    min-width: 7.5rem;
}

.modal-x-sign{
    position: absolute;
    left: 20px;
}

.action-load{
    display: none;
    flex-direction: column;
    align-items: center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #367FA9;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 37px;
    bottom: 19px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.slider_image{
    width:100px;
    height:80px;
}

.slider_image_show{
    width:250px;
    margin-bottom:10px;
}

.slider_image_show_checkbox{
    position: absolute;
    right: 30px;
    bottom: 150px;
}
::placeholder {
    font-size: 0.9em;
}

.v-images{
    width: 50%;
    height: 55%;
}

.dot {
    height: 25px;
    width: 25px !important;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 15px;
}

.has-arrow {
    cursor: pointer;
}
.coordinate_text {
    cursor: pointer;
    text-decoration: underline;
    color: #8c0f0f;
}
